<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Editar Usuario</title>
</head>
<body>
        <div class="content" style="max-width: 600px; margin: auto; position: relative;">
            </div>

            <h1>Editar Usuario</h1>
            
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" value="Patricia">
            </div>
            
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" value="patricia@codingdojo.com">
            </div>
            
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" value="**********">
            </div>
            
            <div class="form-group">
                <label>Conf. Contraseña</label>
                <input type="password" value="**********">
            </div>
            
            <div class="form-group">
                <label>Tipo de Usuario</label>
                <select>
                    <option selected>Administrador</option>
                    <option>Usuario</option>
                </select>
            </div>
            
            <div class="btn-row">
                <button class="btn-main">Crear</button>
            </div>
        </div>
    </div>
</body>
</html>