<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Dashboard Admin</title>
</head>
<body>
        <div class="content">
            <div class="header-row">
                <h1>Dashboard - Admin</h1>
                <button class="btn-main">Nuevo Usuario</button>
            </div>
            <table class="sketch-table">
                <thead>
                    <tr><th>Nombre</th><th>E-mail</th><th>Tipo Usuario</th><th>Acciones</th></tr>
                </thead>
                <tbody>
                    <tr><td>Patricia</td><td>patricia@codingdojo.com</td><td>Admin</td><td class="actions">✎ 🗑 ✉</td></tr>
                    <tr class="zebra"><td>Andrea</td><td>andrea@codingdojo.com</td><td>Usuario</td><td class="actions">✎ 🗑 ✉</td></tr>
                    <tr class="zebra"><td>Andrea</td><td>andrea@codingdojo.com</td><td>Usuario</td><td class="actions">✎ 🗑 ✉</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>