<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Mensajes</title>
</head>
<body>
        <div class="content">
            <h1>Andrea</h1>
            <h3>Mensajes a Andrea</h3>
            <div class="form-group" style="gap:10px;">
                <input type="text" style="width: 85%;">
                <button class="btn-main">Enviar</button>
            </div>
            <div style="margin-top: 20px;">
                <p style="color: blue; text-decoration: underline;">Mensaje de Katya, hace 5 horas</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
            <div style="margin-left: 40px; border-left: 2px solid #000; padding-left: 15px;">
                <h4>Comentarios</h4>
                <p style="color: blue; text-decoration: underline;">Comentario de Patricia, hace 1 hora</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <div class="form-group" style="gap:10px;">
                    <input type="text" placeholder="Escribe un comentario..." style="width: 80%;">
                    <button class="btn-main">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>