<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Detalle de {{ mascota.nombre }}</title>

</head>
<body>

    <h1>Detalle de la Mascota</h1>

    <ul>

        <li>
            <strong>ID:</strong> {{ mascota.id }}
        </li>

        <li>
            <strong>Nombre:</strong> {{ mascota.nombre }}
        </li>

        <li>
            <strong>Tipo:</strong> {{ mascota.tipo }}
        </li>

        <li>
            <strong>Color:</strong> {{ mascota.color }}
        </li>

        <li>
            <strong>Fecha de Creación:</strong> {{ mascota.created_at }}
        </li>

    </ul>

</body>
</html>